{
    "endOfLine": "lf",
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "arrowParens": "avoid",
    "plugins": ["prettier-plugin-tailwindcss"]
}
