@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedan:ital@0;1&display=swap');
@import "tailwindcss";


@theme {
  --font-inter: "Inter", sans-serif; 
  --color-purple-10: #702CFF; /* Normal Purple */
  --color-purple-20: #7550FB;
  --color-purple-30: #4A3AFF;
  --color-pink-1: #E3D6FF;
  --color-white-1: #FFFFFF;
  --color-black-2: #202020;
  --color-gray-1: #3F3F3F;
  --color-gray-2: #CCCCCC;
  --color-gray-3: #5F5F5F;
  --color-gray-4: #9E9E9E;
  --color-white-2: #F2F2F2;
}

@layer base {
  h1 {
    font-size: var(--text-base);
    color:  var(--color-gray-1);
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  a {
    font-weight: 500;
  }
}

html,
body,
:root {
  min-height: 100vh;
  font-family: var(--font-inter);
}
